body{
    margin: 0;
    background: rgb(236, 227, 240);
}

.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.genius {
    display: grid;
    grid-template-areas:'verde vermelho'
     'amarelo azul';
    grid-gap: 10px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;

}

.blue {
    grid-area: azul ;
    background-color: rgb(95, 86, 228);
    border-bottom-right-radius:100%;

}

.red {
    grid-area: vermelho ;
    background-color: rgb(241, 9, 9);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(248, 233, 26);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(45, 167, 7);
    border-top-left-radius: 100%;

}

.selected{               /* para quando a cor for selecionada*/
    opacity:0.8;
    
}